backend:
  name: git-gateway
  branch: main

media_folder: "static/img"
public_folder: "/img"

collections:
  - name: "post"
    label: "Berita & Artikel.." 
    folder: "content/post"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Judul Berita", name: "title", widget: "string"}
      - {label: "Tanggal Publish", name: "date", widget: "datetime"}
      - {label: "Gambar Utama", name: "thumbnail", widget: "image"}
      - {label: "Isi Berita", name: "body", widget: "markdown"}